

#omikuji {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;  /*次の文との間に空白を追加*/
  color: grey;
}

#comment{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: grey;
}

#subcomment{
  font-size: 15px;
  text-align: center;
  color: grey;
}

.omikuji-img {
  width : 165px; 
  height : auto;  /*widthに合わせる*/
  position: absolute;
  top:70px;    /* 上から50px */
  left: 350px;  /* 左から100px */
}


 .heart-btn {
  width: 120px;
  height: 120px;
  background-color: pink; 
  color: #333;
  font-size: 20px;
  font-weight: bold;
  border: none;
  position: relative;
  cursor: pointer;
  margin-bottom: 40px;

  border-radius: 15px; /*四角の角を丸く*/
  transform: rotate(-45deg); /* 四角を回転させてベースに */
display: flex;
  justify-content: center;
  align-items: center;

   left: 170px
   
}

.heart-btn span {
  transform: rotate(45deg); /* ボタンに合わせて文字も傾ける */
  position: relative;
  z-index: 10;  /* 一番上に表示（丸に隠れないように） */
  transform: rotate(45deg) translateY(-20px)
}


/* ハートの上の丸2つを作る */
.heart-btn::before,
.heart-btn::after {
  content: "";
  width: 118px;
  height: 118px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
   z-index: 1; /* ← 丸は文字、四角より下 */
}

.heart-btn::before {
  top: -60px;
  left: 0;
}

.heart-btn::after {
  left: 60px;
  top: 0;
}

